/* default */
html {
  background-color: #F7FAFA;
  font-family:  'Montserrat', sans-serif; /* body */
  color: #0F2105;
  font-size: calc((100% + 0.3vw)*0.7);
  line-height: 1.8;
  scroll-behavior: smooth;
 }

body {
  margin: 0;
}

img {
  max-width:100%;
  height:auto;
  vertical-align: bottom;
}

section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

h1, h4 {
  font-family: 'Fira Sans', sans-serif; /* heading */
  line-height: 2;
  text-align: center;
}

h1 {
  padding: 0.5em 0;
}

/* header nav */
header {
 overflow: hidden;
 font-family: 'Fira Sans', sans-serif; /* heading */
 padding: 20px;
 width: 90%;
 margin: 0 auto;
}

.logo {
  float: left;
}

.logo img {
  height: 60px;
}

nav {
  float: right;
  margin-top: 20px;
}

ul {
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

nav li {
  width: 100px;
  font-size: 1em;
  text-align: center;
}

nav .active a, nav li a:hover {
  color: #5ecbf5;
}

li a {
  text-decoration: none;
  color: #000;
}

.menu {
  display: none;
}

@media screen and (max-width: 640px) {

  header {
    text-align: center;
  }

  .logo {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .menu {
    display: block;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    color: #ccc;
  }

  .menu p {
    margin: 0;
  }

  nav {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
  }

  nav li{
    display: none;
    padding: 10px;
    width: 100%;
  }

  nav li:last-child {
    border-bottom: 1px solid #ccc;
  }

  nav li a{
    color: #ccc;
    font-size: 2em;
  }

}

/* footer nav */
footer img {
  width: 25px;
}

footer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer ul {
  padding: 0;
  width: 150px;
}

footer li {
  width: 30px;
}

/* portfolio */
.projects {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h2 {
  color: #5ecbf5;
  margin: auto;
  text-align: center;
}

.project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project {
  overflow: hidden;
  display: none;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.show {
  display: block;
  -webkit-animation: fadein .2s;
  -moz-animation: fadein .2s;
  animation: fadein .2s;
}

@keyframes fadein{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.title {
  text-align: center;
  font-size:  calc((100% + 0.3vw));
  font-family: 'Fira Sans', sans-serif;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.project:hover img{
  opacity: 0.1;
  transform: scale(1.2);
}

.project:hover .title{
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

/* project */
.detail {
  display: none;
  margin-bottom: 5%;
}

.detail-text {
  margin-bottom: 20px;
}

.link a {
  text-decoration: none;
  color: #5ecbf5;
}

.demo {
  width: 100%;
  margin-top: 15px;
}

video {
  max-height: 90vh;
}

.video {
  position: relative;
  height: 0;
  padding-top: 56.25%
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* project nav */
.project-nav {
  float: right;
  margin: 5% 0;
}

.project-nav a {
  text-decoration: none;
  color: #000;
}

/* thanks */
.thanks {
  display: none;
  height: 30vh;
  position: relative;
}

.thanks h1 {
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #5ecbf5;
}

/* about */
.about {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.about-text a {
  text-decoration: none;
  color: #5ecbf5;
}

.skills {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.skill {
  width: 50px;
  margin: 20px;
}

@media screen and (max-width: 640px) {
  .about {
    grid-template-columns: 1fr;
  }
}

/* contact */
.contact {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
}

.form {
  width: 100%;
}

.form form{
  width: 100%;
  margin: auto;
}

input, textarea {
  font-family: inherit;
  font-size: 1em;
}

input::placeholder, textarea::placeholder{
  color: #ccc;
}

.form input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.form textarea{
  width: 100%;
  height: 32vh;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px
}

.form__submit {
  text-align: center;
}

.form input[type="submit"]{
  background-color: #5ecbf5;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  width: 180px;
}

@media screen and (max-width: 640px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
